<h2>All Genres</h2>
<ul>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre %> has <%= pluralize(genre.games.count, 'game') %></li>
    <% end %>
</ul>

<%= will_paginate @genres %>