<h1>Welcome!</h1>
<p>
    Welcome to my very first rails website, a gaming site that pulls a data source from Kaggle and displays the top 1000 games that has critical acclaim back in 2017. Feel free to search and see what our users rated the games!
</p>
<p>
    <%= image_tag("games_erd.png", :alt => "Games ERD Diagram") %>
</p>