<h2>All Platforms</h2>
<table>
    <tr>
        <th>Platform</th>
        <th>Number of Games</th>
    </tr>
    <% @platforms.each do |platform| %>
        <tr>
            <td><%= link_to platform.name, platform %></td>
            <td><%= platform.games.count %></td>
        </tr>
    <% end %>
</table>
</br>
<%= will_paginate @platforms %>
</br>
