<h2><%= @platform.name %> Games</h2>

<table>
    <tr>
        <th>Game</th>
        <th>Genre</th>
    </tr>
    <% @platform.games.each do |game| %>
        <tr>
            <td><%= link_to game.name, game %></td>
            <td><%= link_to game.genre.name, game.genre %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to 'Back', platforms_path %></p>