<h2>All Users</h2>
<table>
    <tr>
        <th>User</th>
        <th>Number of Game Ratings</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.name, user %> </td>
            <td><%= user.ratings.count%></li>
        </tr>
    <% end %>
</table>

</br>
<%= will_paginate @users %>
</br>
