<h2><%= @user.name %> Ratings</h2>

<table>
    <tr>
        <th>Game</th>
        <th>Rating</th>
    </tr>
    <% @user.ratings.each do |rating| %>
        <tr>
            <td><%= link_to rating.game.name, rating.game %></td>
            <td><%= rating.userscore %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to 'Back', users_path %></p>