<h2>All Games</h2>
<table>
    <tr>
        <th>Game</th>
        <th>Platform</th>
        <th>Genre</th>
    <tr>
    <% @games.each do |game| %>
        <tr>
            <td><%= link_to game.name, game %></td>
            <td><%= link_to game.platform.name, game.platform %></td>
            <td><%= link_to game.genre.name, game.genre %></td>
        </tr>
    <% end %>
</table>

<%= will_paginate @games %>