<h2>All Games</h2>

<table>
    <tr>
        <th>Game</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>User Ratings</th>
    <tr>
    <%= render @games %>
</table>

</br>
<%= will_paginate @games %>
</br>